@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 768px) {
    

}
@media screen and (max-width: 414px) {
    .container_avatar{

        grid-template-areas:
          "left right "
          "centar centar";

          grid-row-gap: 10vh;
          grid-template-columns:0;
    }

    p {
        font-size: 16px;
        width: 320px;
    }

    h2 {
        font-size: 32px;
    }

    .avatar_center {
        grid-area: centar;
        grid-row-gap: 10px;

       
        
    }

    .avatar_left-side {
        grid-area: left;
        width: 40%;
    }

    .avatar_left-right {
        width: 40%;
        grid-area: right;
    }

    .avatar_icon{
        width: 3rem;
    }

    .header_text-box {
flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    h1{
        font-size: 40px;
    }

    .container {
        display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    position: relative;
    grid-row-gap: 20px;
    justify-content: center;
    margin: 15% 0 15% 0;
    }

    .btn--green {
        margin-bottom: 5px;
    }
    .side_tect-box {
        width: 300px;
    }
}