.main {
  text-align: center;
}

.container {
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  position: relative;
  column-gap: 20px;
  justify-content: center;
  margin: 5% 10% 5% 10%;
}

.images {
  & > img {
    width: 255px;
    border-radius: 10px;
  }
}

.side {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;

  &_tect-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 478px;
  }
}
